%h1 About Us
%h2 A brief history
%p
  Confreaks, LLC was hatched at the International Ruby Conference in 2006 in 
  Denver Colordao.  I don't remember the exact setting, but 
  =link_to 'Carl Youngblood', 'http://blog.youngbloods.org/'
  and I started to discuss the delimia that you have at multi-track 
  conferences.  That is you can't be in all places at once.  Besides that 
  for really good presentations you want to be able to share them with people 
  not at the conference, and you want to be able to review them yourself at 
  a latter date.
%p
  So after we returned to Salt Lake City, we continued to talk about the idea.  
  Mike Moore, Marty Haught, and Pat Eyler announced Mountain West Ruby 
  Conference and that it would be taking place in March of 2007 in Salt 
  Lake City.
%p
  %div{:style => "float: right;"}
    =image_tag("gallery/mwrc-2007-audience.jpg")
    %p.center.small
      Picture from 
      =link_to 'my Flickr photo stream', 'http://www.flickr.com/photos/simplexity/1040772982/', :target => "_blank"
  Carl and I with the help of some local friends pulled together a couple 
  video cameras, a basic VGA screen grabber and volunteered to record MWRC 2007.
  It was a lot of work and a lot of learning, but we pulled it off.  See the 
  videos
  ="#{link_to 'here', 'http://mtnwestrubyconf2007.confreaks.com', :target => '_blank'}."
%p
  For this MWRC2007 we used manned cameras recording to tape, so we had to 
  off-set the starting time so that we were not changing tapes at the same 
  time on both cameras.  The process of taking all of the footage from tape 
  to the computer was time-consuming and frustrating.  The software based 
  capture device we used to get the slides, worked, but was also a hassle.  
  In short, we knew we never wanted to do that again, at least not the same way.
%p
  Not long after getting the MWRC2007 videos launched, Nathaniel Talbott 
  and Jeremey McAnally contacted us about recording 
  ="#{link_to 'Ruby Hoedown 2007', 'http://rubyhoedown2007.confreaks.com'}."
  in Raleigh, North Carolina in August.
%p
  With another conference looming, and one that was actually paying for our 
  services, we researched and came up with what we considered a much better 
  system.  We utilized three pan-tilt-zoom cameras (PTZ) mounted on tripods
  and controlled with a single joystick from a control table.  These three 
  cameras all feed into a video switcher, which allowed us to do live camera 
  selection.  We took the three feeds and the output from the switcher and
  recording them all via firewire to a computer.  It can be tricky getting 
  five working firewire ports in a machine, with enough bandwidth on each 
  channel to record live video, but we did it.  The fifth video feed was a
  new hardware based video scaler that turned VGA into NTSC standard 
  definition signal.
%p
  We broke out the piggy banks and credit cards, purchased all this gear and 
  headed to Raleigh.  The video from that effort is available 
  ="#{link_to 'here', 'http://rubyhoedown2007.confreaks.com'}."
%p.center
  =link_to image_tag("gallery/ruby-hoedown-2007-capture-station.jpg"), "http://www.flickr.com/photos/simplexity/1106031348/", :target => "_blank"
  
  %br
  %span.small
    Picture from 
    =link_to 'my Flickr photo-stream', "http://www.flickr.com/photos/simplexity/1106031348/", :target => "_blank"
%p
  Next up?  While at the Ruby Hoedown we were able to discuss recording the
  Internaional Ruby Conference, with Chad Fowler.  Over the next month or 
  so the team at Ruby Central was able to get Microsoft to sponsor recording
  the videos for that year.  We were on for our second paying gig.  Just one
  problem...  It was three tracks.
%p
  We looked out our system, figured out some inefficiencies we had discovered
  while recording the Ruby Hoedown, and then broke out the piggy banks and
  credit cards once again.  This time purchasing everything we had bought for
  Ruby Hoedown (with minor tweaks), twice over so that we had the gear to do
  all three tracks.
%p
  So in November we headed to back to North Carolina, this time to Charlotte
  to try our hand at our first multi-track conference.  It went well, the 
  videos are 
  ="#{link_to 'here', 'http://rubyconf2007.confreaks.com', :target => '_blank'}."
%p
  There was also games of werewolf to be played, it was a great conference and we made a lot of good friends along the way.
%p.center
  =link_to image_tag('gallery/ruby-hoedown-2007-werewolf.jpg'), "http://chadfowler.com/2007/8/12/ruby-hoedowned", :target => "_blank"
  %br
  %span.small
    Picture from
    =link_to "Chad Fowler's blog", "http://chadfowler.com/2007/8/12/ruby-hoedowned", :target => "_blank"