%h1 What is there to know?
%p
  Confreaks, LLC has been around since early 2007.  
%p
  We'd like to thank all the folks who have been involved with creating the core technologies that we have built upon, and to the many people in the technology communities that we serve.
%p
  To learn more read our
  =link_to 'blog', 'http://blog.confreaks.com'
  \.