.legal 
  %h1 Privacy Policy
  %p
    Confreaks, LLC takes the privacy of your information seriously.
    %h2 
    What We Collect
  %h3
    Public Click Thru Traffic
  %p
    We collect http header information including referrer and remote IP address when available.  This information is limited to the publicly provided details that are available from any web server logs.
  %h3
    Account Holders
  %p
    We collect http header information including referrer and remote IP address when available.  This information is limited to the publicly provided details that are available from any web server logs.  We also use cookies in order to keep you logged in and to create one-click short codes.  We also store the information that you provide in your profile, including your email address.  We will use your email address only to communicate with you regarding your account services, updates, and news from Confreaks, LLC.  Our cookies are set to expire after xx days.
  %h3
    Security Information
  %p
    Confreaks, LLC takes security seriously and goes to reasonable lengths to ensure that your data is safe and secure.
  %h2
    Questions About this Policy
  %p
    If you have questions about this policy please send them to 
    ="#{link_to 'staff@confreaks.com', 'mailto: staff@confreaks.com'}."
  %h2
    Privacy Policy Changes
  %p
    This Privacy Policy may be changed at any time. Minor updates will not be publicized, however any changes to the terms will be communicated on our site or via email.
=render :partial => 'shared/contacting_us'