%h1 Video Recording Services</h2>
%p
  For a full quote please send an email to
  =link_to "staff@confreaks.com","mailto:staff@confreaks.com"
  , and we'll be happy to discuss the details of your event and provide a custom estimate for you.
