%h1 Video Recording Services</h2>
%table
  %tr
    %th Description
    %th Rate
    %th Price
  %tr
    %td
      Setup and tear-down of recording equipment
    %td
      Per track / room
    %td.numeric
      $1,000
  %tr
    %td
      Base recording fee
      %br
      (includes multicam recording and post-production)
    %td
      Hourly per track
    %td.numeric
      $500
  %tr
    %td
      Additional editing or menu enhancement
    %td
      Hourly
    %td.numeric
      $100
  %tr
    %td
      Hosting non-creative-commons conference recordings
    %td
      Monthly
      %br
      per Event
    %td.numeric
      $50
%p
  For a full quote please send an email to
  =link_to "staff@confreaks.com","mailto:staff@confreaks.com"
  , and we'll be happy to discuss the details of your event and provide a custom estimate for you.
%p
  If you desire to release your content under the 
  =link_to "Creative Commons Attribution-ShareAlike license", "http://creativecommons.org/licenses/by-sa/3.0/"
  you will receive a 25% discount on all video recording services, and will receive free hosting of your video content.

