.legal
  %h1 Terms of Service
  %p
    Confreaks, LLC was created to help capture and preserve the presentations that are made at various technology conferences, and to make that content available to a wider audience.
  %h2 Video and Audio content
  %p
    =render :partial => 'shared/ccasa_blurb'
  %h2 Privacy
  %p
    View the entire privacy policy by clicking
    ="#{link_to 'here', privacy_policy_path}."