%tr
  %td
    =asset.id
  %td
    =asset.data_file_name
  %td
    =asset.data_content_type
  %td
    =asset.duration
  %td
    ="#{asset.width}x#{asset.height}"
  %td
    =asset.streaming
  %td
    =asset.raw_response