.bundle
db/*.sqlite3
log/*.log
tmp/
public/system/events/logos/*/
public/system/assets/data/*/
public/system/assets/datas/*/
public/system/users/avatars/*/
public/system/videos/images/*/
.DS_Store
*.sql

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
