%tr
  %td
    =event.id
  %td
    =image_tag(event.logo.url(:small))
  %td
    =link_to event.display_name, admin_event_path(event)
  %td
    =event.short_code
  %td.center
    =event.available_videos.count
    ="/"
    =event.videos.count
  %td
    =event.ready ? "yes":"no"
  %td
    =event.rooms.nil? ? "N/A": event.rooms.count
  %td
    =event.date_occurred
  %td
    =link_to edit_image_tag, edit_admin_event_path(event)
    =link_to delete_image_tag, admin_event_path(event), :method => 'Delete'