.center
  =image_tag(@event.logo.url(:original))

-form_for [:admin, @event], :html => { :multipart => true } do |f|
  .form-field
    =f.label :name_prefix, "Prefix"
    =f.text_field :name_prefix

  .form-field.required
    =f.label :conference_id, "Conference"
    =f.collection_select :conference_id, @conferences, :id, :name

  .form-field
    =f.label :name_suffix, "Suffix"
    =f.text_field :name_suffix

  .form-field
    =f.label :short_code, "Short Code"
    =f.text_field :short_code

  .form-field
    =f.label :start_at, "Start"
    =calendar_date_select_tag "[event]start_at", (@event.start_at unless @event.nil?), :time => false

  .form-field
    =f.label :end_at, "End"
    =calendar_date_select_tag "[event]end_at", (@event.end_at unless @event.nil?), :time => false

  .form-field
    =f.label :rooms, "Number of Tracks"
    =select_tag "[event]rooms", options_for_select([1,2,3,4,5,6,7,8,9])

  .form-field
    =f.label :notes, "Notes"
    =f.text_area :notes, :rows => 5, :cols => 60

  .form-field
    =f.label :display, "Display?"
    =f.check_box :display

  .form-field
    =f.label :ready, "Ready for use on confreaks.net?"
    =f.check_box :ready

  .form-field
    =f.label :logo, "Logo"
    =f.file_field :logo

  %span.submit
    =f.submit "Save", :class => "button"