.module
  =render :partial => 'shared/corners'
  .module-inner
    %h1 Administration
=render :partial => 'admin/navigation'
.module
  =render :partial => 'shared/corners'
  .module-inner
    %h2 Events

.module
  =render :partial => 'shared/corners'
  .module-inner
  =link_to 'Add Event', new_admin_event_path
  %table.admin
    %tr
      %th
        ID
      %th
        Logo
      %th
        Name
      %th
        Short Code
      %th
        Videos
      %th
        Dates
      %th
        Actions
    =render :partial => 'event', :collection => @events
  #pagination
    =will_paginate @events, :params => {:controller => 'admin/events', :action => 'index'}, :class => 'not_ajax'