<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your larubyconf.com password for <%=h @user.username %> has been reset</h1>
    <p>
      Your new password for <%= @user.username %> is '<%= @password %>'.<br/>
      To login to the site, just follow this link: <%=h @url %>.
    </p>
    <p>
      If you have further issues please reply to this email to reach a staff member who will assist you.
    <p>
      Thanks and we hope to see you on February 19th or 20th, 2010 in Burbank, CA!</p>
  </body>
</html>
