* html { margin: 0; padding: 0; }
body {
  margin: 20px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 0;
  font: 1em/1.5em Georgia, Times, "Times New Roman", serif;
  color: #333;
}
p { margin-top: 0; }
img { border: 0; }
a { color: #333; text-decoration: none; border-bottom: 1px dotted #333; }
a:hover { border: 0; }
.noborder { border: 0; }
h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-weight: normal;
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 30px;
}
table.assets {
    width: 100%;
    font-size: .6em;
}

table caption {
  margin: 0;
  padding: 2px;
  text-align: left;
  border: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fff;
}
table th {
  font-weight: bold;
}
table th, table td {
  text-align: left;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background: #fff;
  vertical-align: top;
  font-size: 80%;
}
table td {
  font-weight: normal;
}
table th.numeric, table td.numeric {
  text-align: right;
  white-space: nowrap;
}
table th.program, table td.program {
  width: 30%;
}

table tr td.center {
    text-align: center;
}

a.rss {
  border-bottom: 0;
  text-decoration: none;
}

#header, #content, #footer {
  margin: 0 auto;
  min-width: 800px;
  max-width: 1024px;
  margin-bottom: 0px;
}
#content, #footer {
  border-top: 1px solid #333;
  clear: both;
  padding-top: 20px;
  padding-bottom: 20px;
}
#primary-content {
  float: left;
  width: 70%;
  padding-right: 10px;
}
#secondary-content {
  padding-top: 0;
  float: right;
  position: relative;
  top: 0; right: 0;
  width: 150px;
  padding-bottom: 20px;
}
#footer { font-size: 70%; }

#logo, #tagline { height: 92px; }
#logo { float: left; }
#logo h1 {
  background: #fff url(../images/confreaks_logo.png) top left no-repeat;
  width: 387px;
  height: 92px;
  text-indent: -10000px;
  margin-top: 0;
}
#logo a { width: 100%; height: 100%; border: 0; display: block; }
#smidiglogo { height: 100px; width: 700px; margin: auto; padding: 15px; overflow: hidden; }
#tagline {
  float: right;
  vertical-align: middle;
  margin-top: 0;
  width: 16em;
  font-size: 110%;
  line-height: 1.5em;
}
#secondary-content h3 { margin: 0; }
#secondary-content h3 a {
  font-family: Verdana, Helvetica, sans-serif;
  padding: 5px;
  border-bottom: 1px dashed #333;
  font-weight: normal;
  text-decoration: none;
  display: block;
  color: #333;
}
#secondary-content h3 a.last {
  border-bottom: 0;
}
#secondary-content h3 a:hover { background: #ddd; border-bottom: 1px dashed #333; }
#secondary-content h3 a.last:hover { background: #ddd; border-bottom: 0; }

.center {
  line-height: 1.3em;
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.center p {
  text-align: left;
  width: 410px;
  font-weight: normal;
  font-size: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
}
.center p.right {
  text-align: right;
  width: 100%;
  margin: 0;
}
.center p.right a img {
  margin-bottom: -3px;
}

#player1 {
  text-align: center;
  margin: 0 auto;
}
.caption { font-weight: normal; font-size: 80%; text-decoration: none; }
.caption a:hover { text-decoration: underline; }

.footertext { float: left; width: 86%; padding-bottom: 20px; line-height: 1.5em; }
.license { float: right; }
* html .license { padding-right: 0; }

ul.formatlist { margin: 0 auto; list-style-type: none; padding: 0; margin: 0; }
ul.formatlist li { display: inline; padding: 6px; margin: 0; padding-top: 0; }

.nowrap { white-space: nowrap; }

#navigation {
    clear: left
}

#navigation ul {
    margin-bottom: 5px;
    list-style: none;
    float: left;
}

#navigation ul li.first {
    border-left: 0px;
}

#navigation ul li {
    overflow: hidden;
    display: inline;
    vertical-align: bottom;
    padding-left: 5px;
    padding-right: 3px;
    border-left: 1px black solid;
}

#navigation ul.personal {
    float: right;
}

.clear {
    clear: both
}

#hint {
    font-size: 90%;
    font-style: italic;
    color: #a0a0a0;
    padding-left: 25px;
}

/* ---------- Form Format ---------- */
form {
    font-size: .80em;
    min-width: 500px;
    max-width: 800px;
}

.form-field label {
    display: block;
    float: left;
    width: 250px;
    padding: 0;
    margin: 0 10px 0 0;
    text-align: right;
}
form .field-set {
  clear: both;
  /*note that this clear causes
    inputs to break to left in ie5.x mac */
  border-color: #000;
  border-width: 1px;
  border-style: solid;
  padding: 10px;        /* padding in fieldset support spotty in IE */
  margin: 0;
}
form .field-set .required label {
    font-weight: bold;
    font-style: italic;
}

.field-set .legend {
    font-size: 1.5em;
}
.form-field {
  clear: both;
}

/* Event Box */
ul.event-list {
    list-style: none;
    
}

li.event-box {
    text-align: center;
}

div.event-box-outer {
    display: table;
    width: 220px;
    height: 220px;
    float: left;
    padding: 0 5px 0 5px;
    border: #c0c0c0 dotted 1px;
}

div.event-box-inner {
    display: table-cell;
    #position: absolute;
    vertical-align: top;
}

div.event-box-inner a:link {
    text-decoration: none;
}

.small {
    font-size: 75%;
}

/* Presenter Box */
ul.presenter-list {
    list-style: none;
}

li.presenter-box {
    text-align: center;
}

div.presenter-box-outer {
    display: table;
    width: 240px;
    height: 80px;
    float: left;
    padding: 0 15px 0 15px;
    border: #c0c0c0 dotted 1px;
}

div.presenter-box-inner {
    display: table-cell;
    #position: absolute;
    vertical-align: top;
    padding-top: 5px;
}

div.presenter-box-inner a:link {
    text-decoration: none;
}

/* Asset Box */
ul.asset-list {
    list-style: none;
}

li.asset-box {
    text-align: center;
}

.asset-form-data {
    border-bottom: 1px dotted #c0c0c0;
}

.add-new {
    margin-left: 200px;
}

/* Profile CSS */
.profile_header {
    width: 100%;
    border: 1px solid black;;
    padding: 5px;
    height: 108px;
}

.profile_picture {
    display: table;
    float: left;
    margin-right: 10px;
}

.profile_picture img {
    border: 4px solid #356889;
}

.profile_actions {
    display: table;
    float: right;
}

.flash_container {
    }

ul#flash {
    list-style: none;
}

ul#flash li.error {
    border: 3px red solid;
    background: pink;
    padding: 5px;
}
ul#flash li.notice {
    border: 3px #a0a0a0 solid;
    background: #e0e0e0;
    padding: 5px;
}

ul#flash li.success {
    background: #9be59f;
    border: 3px green solid;
    padding: 5px;;
}

.spacer {
    padding-bottom: 10px;
}

.badge {
    background: #c0c0c0;
    border: 1px dotted black;
    padding: 5px;
    float: right;
    width: 180px;
    margin-bottom: 15px;
}

.badge_data_left {
    color: black;
    float: left;
    background: #356889;
    width: 70px;
    height: 70px;
    padding-top: 30px;
    margin-right: 3px;
}

.badge_data_right {
    color: black;
    float: right;
    background: #356889;
    width: 70px;
    height: 70px;
    padding-top: 30px;
    margin-left: 3px;
}

/* TODO - clean up redundant CSS here */
.badge_data_left .number {
    padding: 3px;
    font-size: 3em;
}

.badge_data_right .number {
    padding: 3px;
    font-size: 3em;
}

.badge .number {
    padding: 3px;
    font-size: 3em;
}

#conflogo {
    margin-bottom: 10px;
}

#confnotes {
    text-align: center;
    padding: 5px;
}
