-unless @controller.controller_name == "users"
  .badge.center
    .badge_data_left
      .big
        <!--happy-->
      .small
        <!--sentiment-->
    .badge_data_right
      .number
        <!--=user.rep_score-->
      .small
        <!--rep score-->
    =link_to image_tag(user.avatar.url(:small)), user_path(user)
    .caption
      =user.full_name
