-form_for @user do |f|
  .form-field.required
    %label{:for => 'user_username'} User Name
    =f.text_field :username

  .form-field.required
    %label{:for => 'user_email'} Email
    =f.text_field :email

  .form-field.required
    %label{:for => 'user_time_zone'} Time Zone
    =f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones

  .form-field.required
    %label{:for => 'user_password'} Password
    =f.password_field :password
  .form-field.required
    %label{:for => 'user_password_confirmation'} Confirm Password
    =f.password_field :password_confirmation

  %span.submit
    =submit_tag "Save", :class => "button"