%tr
  %td
    =conference.id
  %td
    =link_to conference.name, conference_path(conference)
  %td
    =conference.events.count
  %td
    =link_to edit_image_tag, edit_admin_conference_path(conference)
    |
    =link_to delete_image_tag, admin_conference_path(conference), :method => 'delete'