<%-unless video.streaming_video.nil? %>
<script type="text/javascript" src="/javascripts/swfobject.js">
</script>
<div id="flash-player">
  <a href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash">Get the Flash Player</a> to see this player.
</div>
<script type='text/javascript'>
  width = <%= video.streaming_video.width %>
  height =<%= video.streaming_video.height + 20 %> 
  var s1 = new SWFObject('/media/player.swf', 'mpl', width, height, '9')
  s1.addParam('allowfullscreen', 'true')
  s1.addParam('allowscriptaccess', 'always')
  s1.addParam('allownetworking', 'all')
  s1.addVariable('file', "<%="#{request.protocol}#{request.host_with_port}#{video.streaming_video_url}"%>")
<%-if video.image%>
  s1.addVariable('image', "<%="#{request.protocol}#{request.host_with_port}#{video.image.url(:preview)}"%>")
<%-end%>
  s1.addVariable('plugins', 'viral-2')
  s1.addVariable('viral.allowmenu','true')
  s1.write('flash-player')
</script>
<%-else%>
  <h3 class="center">There is no streaming video available for this presentation at this time.</h3>
<%-end%>