%h1
  Videos
-form_tag videos_path, :method => 'get'  do
  %p
    =text_field_tag :search, params[:search]
    =submit_tag "Search", :name => nil

    %br
    =check_box_tag :available_only, params[:available_only]
    Include only available videos?
.search-results-message
  =@message
.search_results
  =render :partial => 'search_result', :collection => @videos