# This is the index view used to display all videos

-content_for :title do
  ="Video Search at Confreaks, LLC"

%h1
  Videos
-form_tag videos_path, :method => 'get'  do
  %p
    =text_field_tag :search, params[:search]
    =submit_tag "Search", :name => nil
    %br
    -if params[:all] == "1"
      =check_box_tag :all, "1", :checked => true
    -else
      =check_box_tag :all
    Include presentations not yet available for viewing.
.small
  Currently search only searches on title... this will be expanded soon.  If you want to see videos by a specific person click the 
  =link_to 'Presenters', presenters_path
  link.
.search-results-message
  =@message
.search_results
  =render :partial => 'search_result', :collection => @videos