-content_for :title do
  ="#{@video.title} - #{@video.display_presenters} - #{@video.event.display_name}"
-content_for :secondary_content do
  =render :partial => 'videos/video_column', :locals => {:videos => @videos}
.center
  %h3
    =link_to @video.event.display_name, event_path(@video.event)
  -if iphone_user_agent?
    .small
      Sorry the HTML5 player is not yet working on the iPhone. I need to finish a few conferences before I spend time figuring out the codec issues, that are preventing the videos from playing properly
  -unless (@p.browser == "Firefox" && @p.browser_version_major.to_i < 4) || iphone_user_agent?
    .small
      Change video player:
      =link_to_unless_current 'HTML5', video_path(@video) + "?player=html5"
      ="/"
      =link_to_unless_current 'Flash', video_path(@video) + "?player=flash"

  .video-frame
    -if @player == "flash" || (@p.browser == "Firefox" && @p.browser_version_major.to_i < 4)
      #flash_player
        =render :partial => 'videos/video_player', :locals => { :video => @video }
    -else
      #html5_player
        =render :partial => 'videos/video_player_html5', :locals => { :video => @video }
  .video-title
    =@video.title
    -if session.user && session.user.admin?
      =link_to edit_image_tag, edit_admin_video_path(@video)
  .video-presenters
    =display_presenters_with_links @video
  -if @video.note
    .video-note
      =@video.note
  .video-abstract
    =RDiscount.new(@video.abstract).to_html
.video-details
  .assets
    =render :partial => 'asset_display', :collection => @video.assets.downloadable
  .video-links
  .video-information
    .video-rating
      Rated:
      %strong
        =@video.rating
    -if @video.available
      .video-rating
        Views:
        %strong
          =number_with_delimiter(@video.views, :delimiter => ",")
    -if @video.post_date
      .video-posted-on
        Posted on:
        %strong
          =@video.post_date.strftime("%b %d, %Y")

.clear
-if session.user && session.user.admin?
  .center
    .small
      Operating System
      =@p.ostype
      =@p.os_version
      %br
      Browser
      =@p.browser
      =@p.browser_version_major
      =@p.browser_version_major.to_i
      %br
      iphone?
      =iphone_user_agent? ? "yes":"no"