Unless otherwise noted, all audio/video presentations content are released under the
=link_to 'Creative Commons Attribution-ShareAlike', 'http://creativecommons.org/licenses/by-sa/3.0/', :target => "_blank"
license.