%h2
  Contacting Us
%p
  Coby Randquist <
  =link_to "coby@confreaks.com","mailto: coby@confreaks.com"
  >
%p
  Confreaks, LLC
  %br
  19721 Harvard Place
  %br
  Bend, OR 97702
  %br
  (541) 224-6660
