%h2
  Contacting Us
%p
  Coby Randquist <
  =link_to "coby@confreaks.com","mailto: coby@confreaks.com"
  >
%p
  Confreaks, LLC
  %br
  110 NW Wall Street
  %br
  Bend, OR 97701
  %br
  (541) 224-6660
