%h2
  Contacting Us
%p
  Coby Randquist <
  =link_to "coby@confreaks.com","mailto: coby@confreaks.com"
  >
%p
  Confreaks, LLC
  %br
  1136 N Columbus Avenue
  %br
  ="#319"
  %br
  Glendale, CA 91202
  %br
  (818) 237-8942
