#header
  #logo
    %h1
      =link_to "Confreaks","/", :class => "noborder"
  #tagline
    %em
      Expert recording services for conferences,
      seminars, and workshops.
  #navigation
    %ul
      %li.first=link_to_unless_current 'Home', root_path
      %li=link_to_unless_current "Events", events_path
      %li=link_to_unless_current "Presenters", presenters_path
      %li=link_to_unless_current "Blog", blog_path
    %ul.personal
      %li.first
        =link_to_unless_current 'Search', videos_path
      -unless session.authenticated?
        %li
          =link_to_unless_current 'Login', new_session_path
        %li
          =link_to_unless_current 'Sign Up', new_user_path
      -else
        %li
          =link_to_unless_current 'My Profile', user_path(session.user)
        %li
          =link_to 'Logout', session_path, :method => :delete
        -if session.user.admin?
          %li=link_to_unless_current 'Administration', admin_path
