This is a list of all the conference we have recorded listed in chronological order, most recent at the top.
.center
%ul.event-list
  =render :partial => "display_event", :collection => @events
.clear