-content_for :title do
  ="#{@event.display_name} Schedule - Confreaks, LLC"
-content_for :secondary_content do
  =render :partial => 'main/recent_events', :locals => {:events => @recent_events}
.center
  #conflogo
    =link_to image_tag(@event.logo.url(:original), :alt => @event.display_name, :title => @event.display_name), @event.url, :class => "noborder"
  #confnotes
    %em
      =RDiscount.new(@event.notes || '').to_html
  %p.right
    =link_to 'All Events', events_path
    -if @event.conference.events.count > 1
      %br
      =link_to 'Other Conference Events', @event.conference
    -if session.user && session.user.admin?
      %br
      =link_to 'Edit this Event', edit_admin_event_path(@event)
  %h2
    =@event.display_name
    Schedule
  =@event.videos.count
  presentations available
  -if session.user && session.user.admin?
    =link_to 'Add Video', new_admin_event_video_path(@event)
.videos
  =render :partial => 'videos/video', :collection => @event.videos
