-content_for :title do
  ="#{@event.display_name} Schedule - Confreaks, LLC"
.center
  #conflogo
    =link_to image_tag(@event.logo.url(:original), :alt => @event.display_name, :title => @event.display_name), @event.url, :class => "noborder"
  #confnotes
    %em
      =@event.notes
  %p.right
    =link_to 'All Events', events_path
    -if @event.conference.events.count > 1
      %br
      =link_to 'Other Conference Events', @event.conference
    %br
    Video Podcast:
    =link_to 'RSS', "http://feeds.feedburner.com/#{@event.short_code}-large-confreaks"
    =link_to 'Miro', "http://subscribe.getMiro.com/?url1=http%3A%2F%2Ffeeds.feedburner.com%2F<%=@event.short_code%>-large-confreaks", :title => 'Miro: Internet TV'
    =link_to 'iPod', "http://feeds.feedburner.com/#{@event.short_code}-ipod-confreaks"
    -if session.user && session.user.admin?
      %br
      =link_to 'Edit this Event', edit_admin_event_path(@event)
  %h2
    =@event.display_name
    Schedule
  -if session.user && session.user.admin?
    =link_to 'Add Video', new_admin_event_video_path(@event)
  %table{:width=>"100%"}
    %tr
      %th
        Time
      %th{:colspan=>2}
        Presentations
      -if session.user && session.user.admin?
        %th
          &nbsp;
    -@event.videos.each do |video|
      %tr
        %td.nowrap
          =video.recorded_at.strftime('%d-%b-%y %H:%M')
        %td{:style => "width: 150px;"}
          -if video.available?
            -if video.image
              =link_to image_tag(video.image.url(:thumb), :width => 142, :class => 'noborder'), video_path(video)
          -else
            ="... coming soon ..."
        %td
          %em
            -if video.available
              =link_to video.title, video_path(video)
            -else
              =video.title
            %br
            =display_presenters_with_links video  
        -if session.user && session.user.admin?
          %td
            =link_to edit_image_tag, edit_admin_video_path(video)
            |
            =link_to delete_image_tag, admin_video_path(video), :method => 'Delete'