%tr
  %td
    =presenter.id
  %td
    =link_to presenter.display_name, presenter_path(presenter)
  %td
    =presenter.twitter_handle
  %td
    =presenter.videos.count
  %td
    =link_to edit_image_tag, edit_admin_presenter_path(presenter)
    =link_to delete_image_tag, admin_presenter_path(presenter), :method => 'delete'