.center 
  .small
    =link_to "All", presenters_path()
    -("A".."Z").each do |letter|
      -unless letter == @alpha
        =link_to letter, presenters_path()+"?alpha=#{letter}"
      -else
        =letter