-content_for :title do
  ="All Presenters with Videos at Confreaks, LLC"
%h2.center Presenters
.center
  %em.small
    Listed alphabetically by last name.
.center
  .small
    =link_to "All", presenters_path()
    -("A".."Z").each do |letter|
      -unless letter == @alpha
        =link_to letter, presenters_path()+"?alpha=#{letter}"
      -else
        =letter
%ul.presenter-list
  =render :partial => 'presenter', :collection => @presenters
  -if @presenters.count == 0
    .center
      ="No presenters available for '#{@alpha}'"
.clear
.center
  #pagination
    =will_paginate @presenters, :params => {:controller => 'presenters', :action => 'index'}, :class => 'not_ajax'