-content_for :title do
  ="All Presenters with Videos at Confreaks, LLC"
=content_for :secondary_content do
  =render :partial => 'main/recent_events', :locals => {:events => @recent_events}
%h2.center Presenters
.center
  %em.small
    Listed alphabetically by last name.
=render :partial => 'alpha_bar'
%ul.presenter-list
  =render :partial => 'presenter', :collection => @presenters
  -if @presenters.count == 0
    .center
      ="No presenters available for '#{@alpha}'"
.clear
.center
  #pagination
    =will_paginate @presenters, :params => {:controller => 'presenters', :action => 'index'}, :class => 'not_ajax'