-content_for :title do
  ="All Presenters with Videos at Confreaks, LLC"
=content_for :secondary_content do
  =render :partial => 'main/recent_events', :locals => {:events => @recent_events}
%h2.center Presenters
.center
  %em.small
    -if @sort == "alpha" 
      Sort alphabetically by last name.
    -else
      =link_to "Sort alphabetically by last name.", presenters_path(:alpha => @alpha)
    |
    =link_to "Sort by Number of Presentations", presenters_path(:sort_order => 'presentations',:alpha => @alpha)
    |
    =link_to "Sort by Total Views", presenters_path(:sort_order => 'views', :alpha => @alpha)

=render :partial => 'alpha_bar'
%ul.presenter-list
  =render :partial => 'presenter', :collection => @presenters
  -if @presenters.count == 0
    .center
      ="No presenters available for '#{@alpha}'"
.clear
.center
  #pagination
    =will_paginate @presenters, :params => {:controller => 'presenters', :action => 'index'}, :class => 'not_ajax'