-content_for :title do
  ="#{@presenter.display_name}'s Presentations on Confreaks"
-content_for :secondary_content do
  =render :partial => 'presenters/events', :locals => { :events => @presenter.events }
.profile_header
  .profile_picture
    -unless @presenter.user.nil?
      =image_tag(@presenter.user.avatar.url(:small))
  .profile_actions
    -if @presenter.user == session.user  && !session.anonymous?
      =link_to edit_image_tag, edit_user_path(@presenter.user)
  .profile_name
    =@presenter.display_name
  %br
    %span.small
      =link_to "View All Presenters", presenters_path
=render :partial => 'videos', :locals => {:presenter => @presenter}

