%tr
  %td
    =user.id
  %td
    =image_tag(user.avatar.url(:tiny))
  %td
    ="#{user.first_name} #{user.last_name} (#{user.username})"
  %td
    =user.email
  %td
    =user.time_zone
  %td
    =user.created_at.strftime("%Y-%m-%d %H:%M:%S")
    %br
    =time_ago_in_words(user.created_at)
    ago
  %td.center
    =user.activities.count
  %td.center
    =user.admin ? 'Yes' : 'No'
  %td
    =user.presenter ? user.presenter.display_name : '&nbsp;'
  %td
    =link_to edit_image_tag, edit_admin_user_path(user)
    =link_to delete_image_tag, admin_user_path(user), :method => 'delete'