.module
  =render :partial => 'shared/corners'
  .module-inner
    %h1 Administration
=render :partial => 'admin/navigation'
.module
  =render :partial => 'shared/corners'
  .module-inner
    %h2 Users

.module
  =render :partial => 'shared/corners'
  .module-inner
    =link_to 'Add User', new_admin_user_path
    %table.admin
      %tr
        %th
          ID
        %th
          Avatar
        %th
          Name
        %th
          Email
        %th
          Time Zone
        %th
          Admin
        %th
          Presenter
        %th
          Actions
      =render :partial => 'user', :collection => @users
    #pagination
      =will_paginate @users, :params => {:controller => 'admin/users', :action => 'index'}, :class => 'not_ajax'