.form-field-set
  .asset-form-fields
    .form-field
      =f.label :description, "Description"
      =f.text_field :description
    .form-field
      =f.label :data, "Asset"
      =f.file_field :data
    .form-field
      =f.label :asset_type_id, "Asset Type"
      =f.collection_select :asset_type_id, @asset_types, :id, :description
      =link_to_remove_fields "Remove", f
  .asset-form-data
    -if f.object.data_file_name
      .form-field
        %label
          File Name
        =f.object.data_file_name
      .form-field
        %label
          File Size
        =number_to_human_size(f.object.data_file_size)
      .form-field
        %label
          Content Type
        =f.object.data_content_type
  .clear