-form_for [:admin, @video], :html => { :multipart => true } do |f|
  =error_messages_for(:object => @video, :message => "You must fix these fields before proceeding", :header_message => nil)
  %h3
    Basic Info
  .form-field
    =f.label :event, "Event"
    -unless @event
      =f.collection_select :event_id, @events, :id, :display_name
    -else
      =f.hidden_field :event_id, :value => @event.id
      =@event.display_name

  .form-field
    =f.label :recorded_at, "Recorded at"
    =calendar_date_select_tag "[video]recorded_at", (@video.recorded_at unless @video.nil?), :time => true, :size => 28

  .form-field.required
    =f.label :title, "Title"
    =f.text_field :title, :size => 60

  -unless @event.nil? && @video.event.nil?
    .form-field
      =f.label :room_id, "Room"
      =f.collection_select :room_id, @rooms, :id, :name

  %h3 Presenter(s)
  -f.fields_for :presentations do |builder|
    =render 'presentation_fields', :f => builder
  =link_to_add_fields "Add a presenter", f, :presentations

  %h3 Content Information
  .form-field
    =f.label :abstract, "Abstract"
    =f.text_area :abstract, :cols => 60, :rows => 8

  .form-field
    =f.label :rating, "Rating"
    =f.select :rating, Video::RATINGS

  .form-field
    =f.label :post_date, "Date Posted"
    =calendar_date_select_tag "[video]post_date", (@video.post_date unless @video.nil?), :time => false

  .form-field
    =f.label :note, "Note"
    =f.text_area :note, :cols => 60, :rows => 4

  %h3 Site behavior details
  .form-field
    =f.label :streaming_asset_id, "Streaming Video"
    =f.collection_select :streaming_asset_id, @video.assets, :id, :display_description, :include_blank => true

  .form-field
    =f.label :available, "Available"
    =f.check_box :available

  .form-field
    =f.label :include_random, "Include in Featured Videos"
    =f.check_box :include_random

  %h3 Image
  .form-field
    =f.label :image, "Image"
    =f.file_field :image
  .form-field
    %label
      Attached Image Preview
    =image_tag(@video.image.url(:thumb))

  %h3
    Announce Information
  .form-field
    =f.label :announce, "Announce ?"
    =f.check_box :announce
  .form-field
    =f.label :announce_date, "Announce on"
    =calendar_date_select_tag "[video]announce_date", (@video.announce_date unless @video.nil?), :time => true
  %h3 
    Asset(s) - 
    =@video.assets.count
  -f.fields_for :assets do |assetbuilder|
    =render 'asset_fields', :f => assetbuilder

  =link_to_add_fields "Add an asset", f, :assets

  .form-field
    =f.submit "Save", :class => "button"
    =f.submit "Save and add another", :class => "button"
    -if @event
      =link_to "Discard", event_path(@event), :class => "button"
    -else
      =link_to "Discard", admin_videos_path, :class => "button"