%tr
  %td
    =video.id
  %td
    =link_to video.event.display_name, event_path(video.event)
  %td
    =video.title
  %td{:nowrap => true}
    =video.recorded_at.strftime("%m-%d-%Y %H:%M") unless video.recorded_at.nil?
  %td
    =display_presenters_with_links video
  %td
    =video.available
  %td{:nowrap => true}
    =link_to edit_image_tag, edit_admin_video_path(video)
    |
    =link_to delete_image_tag, admin_video_path(video), :method => 'delete'
