!!!
%html
  %head
    %meta{'http-equiv' => "Content-type", :content => "text/html; charset=utf-8"}
    %meta{'http-equiv' => "Content-language", :content => "en-us"}
    %meta{:name => "author", :content => "Confreaks, LLC"}
    %meta{:name => "keywords", :content => "seminar, workshop, conference, video, conferencing, recording, record, powerpoint, presentation, keynote, speech, talk, lecture, ruby, software development, programming"}
    %meta{:name => "description", :content => "Expert recording services for conferences, seminars, and workshops"}
    %meta{:name => "robots", :content => "all"}
    %link{:rel => "alternat", :type => "application/rss+xml", :title => "RSS", :href => "feeds2.feedburner.com/confreaks-general"}
    %title
      =h(yield(:title)) || "Confreaks, LLC"
    =stylesheet_link_tag "960/reset"
    =stylesheet_link_tag "960/text"
    =stylesheet_link_tag "960/960"
    =stylesheet_link_tag "main"
    =javascript_include_tag :defaults
    =calendar_date_select_includes
    =#csrf_meta_tag
    =yield :head
  %body
    .container_16
      =render :partial => 'shared/header'
      .grid_10
        =render :partial => 'shared/display_flash'
        =yield
      .grid_3.box
        &nbsp;
      .grid_3
        =yield :secondary_content
        %br
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FConfreaks-LLC%2F115902641808919&amp;width=182&amp;colorscheme=light&amp;connections=10&amp;stream=false&amp;header=false&amp;height=340" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:182px; height:355px;" allowTransparency="true"></iframe>
      .clear
      =render :partial => 'shared/footer'